<div class="product-name mb-3 pl-5 pt-5">Лист ожидания</div>
<p-treeTable [value]="orders">
  <ng-template pTemplate="header">
    <tr>
      <th>Заказ № / Товары в заказе</th>
      <th class="priority-2">Колличество товаров</th>
      <th class="priority-3">Цена</th>
      <th class="priority-4">Доставка</th>
      <th>Управление</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td>
        <div class="flex">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <span class="block text-900 font-medium mb-2" *ngIf="rowData.controlPanel">{{
            rowData.id
          }}</span>
          <span class="block text-900 font-medium mb-2" *ngIf="!rowData.controlPanel">
            <a [routerLink]="['/main', 'item', rowData.id]">
              {{ rowData.name }}
            </a>
          </span>
        </div>
        <span class="visibility-sm">
          / <span class="block text-900 font-medium mb-2">Кол-во: {{ rowData.amount }}</span> /
          <span class="block text-900 font-medium mb-2" *ngIf="rowData.controlPanel"
            >Цена: {{ rowData.price | number: '0.2' }} p.</span
          >
          <span class="block text-900 font-medium mb-2" *ngIf="!rowData.controlPanel"
            >Цена: {{ rowData.price * rowData.amount | number: '0.2' }} p.</span
          >
          /
          <div *ngIf="rowData.controlPanel" class="flex flex-column mb-2">
            <label for="address" class="block text-900 font-medium mb-2">Адрес доставки:</label>
            <input
              pInputText
              id="address"
              type="text"
              maxlength="250"
              [value]="rowData.address"
              [(ngModel)]="rowData.address"
            />
          </div>
          <div *ngIf="rowData.controlPanel" class="flex flex-column">
            <label for="timeToDeliver" class="block text-900 font-medium mb-2"
              >Время доставки:</label
            >
            <input
              pInputText
              id="timeToDeliver"
              type="datetime-local"
              [value]="rowData.timeToDeliver"
              [(ngModel)]="rowData.timeToDeliver"
            />
          </div>
        </span>
      </td>
      <td class="priority-2">
        <span class="block text-900 font-medium mb-2">{{ rowData.amount }}</span>
      </td>
      <td class="priority-3">
        <span class="block text-900 font-medium mb-2" *ngIf="rowData.controlPanel"
          >{{ rowData.price | number: '0.2' }} p.</span
        >
        <span class="block text-900 font-medium mb-2" *ngIf="!rowData.controlPanel"
          >{{ rowData.price * rowData.amount | number: '0.2' }} p.</span
        >
      </td>
      <td *ngIf="rowData.controlPanel" class="flex" class="priority-4">
        <div class="flex mb-2">
          <label for="address" class="block text-900 font-medium mb-2">Адрес доставки:</label>
          <input
            pInputText
            id="address"
            type="text"
            [value]="rowData.address"
            [(ngModel)]="rowData.address"
            class="w-full"
          />
        </div>
        <div *ngIf="rowData.controlPanel" class="flex">
          <label for="timeToDeliver" class="block text-900 font-medium mb-2">Время доставки:</label>
          <input
            pInputText
            id="timeToDeliver"
            type="datetime-local"
            [value]="rowData.timeToDeliver"
            [(ngModel)]="rowData.timeToDeliver"
            class="w-full"
          />
        </div>
      </td>
      <td>
        <p-button
          *ngIf="rowData.controlPanel"
          icon="pi pi-trash"
          label="Удалить"
          (click)="onDeleteFromOrders(rowData.id)"
          class="mr-2"
        ></p-button>
        <p-button
          *ngIf="rowData.controlPanel"
          icon="pi pi-pencil"
          label="Изменить"
          (click)="onChangeOrder(rowNode)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td *ngIf="isLogin" [attr.colspan]="orders.length">У вас нету ожидающих заказов</td>
      <td *ngIf="!isLogin" [attr.colspan]="orders.length">
        Для просмотра ожидающих заказов войдите в аккаунт используя свой логин и пароль
      </td>
    </tr>
  </ng-template>
</p-treeTable>
