<app-info></app-info>
<div class="flex flex-wrap justify-content-between">
  <img
    class="cursor-pointer mt-3"
    src="../../../../assets/logo.svg"
    alt="logo"
    style="height: 39px"
    [routerLink]="'main'"
  />
  <app-goods-catalog></app-goods-catalog>
  <app-goods-search></app-goods-search>
  <app-account></app-account>
  <button
    icon="pi pi-shopping-cart"
    pButton
    type="button"
    label="Корзина"
    class="p-button-outlined p-button-secondary mt-3"
    [routerLink]="['main', 'cart']"
  ></button>
</div>
<app-main-categories></app-main-categories>
