<div class="card">
  <div class="product-name mb-3">Избранные товары</div>
  <p-dataView
    #dv
    [value]="cartItems"
    layout="grid"
    [emptyMessage]="
      isLogin
        ? 'Ваш cписок избранного пуст'
        : 'Для добавления товаров в избранные войдите в аккаунт используя свой логин и пароль'
    "
  >
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 xl:col-4 md:col-6">
        <div class="product-grid-item card">
          <div class="product-grid-item-content">
            <img
              [src]="product.imageUrls[0]"
              [alt]="product.name"
              style="max-height: 200px; max-width: 200px"
            />
            <div class="product-name">
              <a [routerLink]="['/main', 'item', product.id]">
                {{ product.name }}
              </a>
            </div>
            <div class="flex product-description">{{ product.description }}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom flex flex-wrap">
            <span class="product-price">{{ product.price | number: '0.2' }} p.</span>
            <p-button
              icon="pi pi-shopping-cart"
              label="В корзину"
              [disabled]="product.availableAmount === 0 || userCart.includes(product.id)"
              (click)="onAddToCart(product)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              label="Удалить"
              (click)="onDeleteFromFavorites(product.id)"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
