<p-carousel
  [value]="carouselItems"
  styleClass="custom-carousel-main"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="true"
  [showNavigators]="false"
  [autoplayInterval]="3000"
>
  <ng-template let-product pTemplate="item">
    <div class="product-item-main">
      <div class="product-item-content-main">
        <div class="flex justify-content-center">
          <img
            [src]="product.imageUrls[0]"
            [alt]="product.name"
            [routerLink]="['/main', 'item', product.id]"
            class="cursor-pointer"
          />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<p-carousel
  [value]="carouselItems"
  styleClass="custom-carousel"
  [numVisible]="6"
  [numScroll]="6"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [showIndicators]="false"
>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="mb-1">
          <img
            [src]="product.imageUrls[0]"
            [alt]="product.name"
            class="product-image"
            style="height: 100px"
          />
        </div>
        <div>
          <h4 class="mb-1">
            <a [routerLink]="['/main', 'item', product.id]">
              {{ product.name }}
            </a>
          </h4>
          <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
          <h5 class="mt-0 mb-3">{{ product.price | number: '0.2' }} p.</h5>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
