.product-item {
  height: 100%;
  display: flex;

  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .product-image {
    max-width: 70%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.product-item-main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

  .product-item-content-main {
    display: flex;
    height: 95%;
    padding: 1rem 0;
    align-items: center;
  }
}
