<button
  pButton
  type="button"
  class="p-button-outlined p-button-secondary mt-3"
  label="Каталог товаров"
  icon="pi pi-th-large"
  (click)="op.toggle($event)"
></button>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="overlay-panel">
      <p-table
        [value]="catalogs"
        [rows]="catalogs.length"
        responsiveLayout="scroll"
        [(selection)]="selectedCategory"
      >
        <ng-template pTemplate="body" let-rowData let-product>
          <tr [pSelectableRow]="rowData" (mouseenter)="onCategoryHover(rowData)">
            <td style="cursor: default">{{ product.name }}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-table
        [value]="selectedCategory.subCategories"
        selectionMode="single"
        [rows]="selectedCategory.subCategories.length"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{ selectedCategory.name }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-product>
          <tr [pSelectableRow]="rowData">
            <td
              [routerLink]="['main', 'subCategory', selectedCategory.id, product.id]"
              (click)="op.hide()"
            >
              {{ product.name }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-overlayPanel>
